.epi-item-control {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  line-height: 0.9;
  padding: 0.3em 0.5em;

  &.red {
    background: $color__red;
  }
  &.orange {
    background: $color__orange;
  }
  &.yellow {
    background: $color__yellow;
    color: #000;
  }
  &.green {
    background: $color__green;
  }

  .control-days {
    font-weight: 900;
    display: inline-block;
    font-size: 14px;
  }
  .control-label {
    font-size: 12px;
    line-height: 1.2;
  }
}
