/* Bleu ciel, couleur principale */
$color__primary: #0084FF;
$color__primary_dark: #1360c8;

/* Bleu fonce, couleur de l'interface */
$color__secondary: #272a35;

/* Autres couleurs */
$color__red: #FF2F27;
$color__orange: #FFB727;
$color__yellow: #FFEE00;
$color__green: #47e58e;
$color__pink: #e454a2;
$color__purple: #898de5;
$color__grey: #dedede;
$color__blue: #0d8aff;
$color__black: #333333;
